body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Red Hat Display', sans-serif;
  background: url('images/darkBground.png') center center / cover no-repeat fixed;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border: 2px solid #f7d2f8;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
}

.headshot {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 1rem;
  border: 2px solid #e990d3;
}

.coming-soon {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: #f7d2f8;
}

.message {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.clock {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #e1c1ff;
}

.camera-preview {
  width: 100%;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #fff3;
  object-fit: cover;
}
